# Immigrant Project 

### Cross-Generational Differences between Mexican and Non-Mexican Immigrants, 1994-2016

1. Difference in outcomes between Mexican and Non-Mexican

  * LTHS: “% less than HS diploma”
  * College: “% with college degree”
  *	Hinsured: “% with health insurance”
  * rincp_all: “Average individual real income”
  *	employed: “% employed”
  *	married2: “% married”
  *	children: “% with children”
  * poverty; (% of families under the poverty line)
  * age; (Average age)
  * rinch_all; (median household income);

In [1]:
import pandas as pd
import os
import plotly.graph_objs as go
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output, State

In [2]:
os.chdir(r'H:\CALDER\CALDER Data Visualizations\Data\Immigrant Project')

In [3]:
mex = pd.read_csv('main_national_mexican_outcomes.csv')

In [4]:
mex = mex.sort_values(by=['year', 'igen', 'wbhao'])
mex.head(4)

,year,wbhao,igen,lths,scol,college,hinsured,employed,married2,rincp_all
2,1994,Hispanic,1st Generation,0.635650,0.165253,0.062816,0.513281,0.668500,0.736285,20407.268
3,1994,Hispanic,2nd Generation,0.281591,0.406518,0.093455,0.746052,0.749383,0.641707,32315.545
4,1995,Hispanic,1st Generation,0.642687,0.142032,0.046193,0.489545,0.651424,0.734477,22044.225
5,1995,Hispanic,2nd Generation,0.270727,0.369339,0.085901,0.696145,0.724760,0.635118,31656.129

In [5]:
# Rename Columns
pre = ['lths', 'college', 'hinsured', 'employed', 'married2', 'rincp_all']
post = ["% less than High School diploma", "% with College Degree", "% with Health Insurance", "% Employed", "% Married",  
        "Median Individual Real Income"]
for i in range(0, len(pre)):   
    mex.rename(columns={pre[i]: post[i]}, inplace=True)

mex.columns

Index(['year', 'wbhao', 'igen', '% less than High School diploma', 'scol',
       '% with College Degree', '% with Health Insurance', '% Employed',
       '% Married', 'Median Individual Real Income'],
      dtype='object')

In [6]:
# Will need to double check with Umut but I think this is supposed to say "Mexican"
mex['wbhao'] = 'Mexican'

In [7]:
mex['wbhao_igen'] = mex['wbhao'] + ' ' + mex['igen']

## Append "main_national_nonmexican_outcomes" data set

There will be two graphs side by side for mexican and non-mexican outcomes

### Import and Clean "non_mexican" data

In [8]:
nonmex = pd.read_csv('main_national_nonmexican_outcomes.csv')

In [9]:
nonmex = nonmex.sort_values(by=['year', 'igen', 'wbhao'])
nonmex.head(4)

,year,wbhao,igen,lths,scol,college,hinsured,employed,married2,children,rincp_all
2,1994,Hispanic,1st Generation,0.331588,0.368344,0.146984,0.629577,0.692032,0.627482,0.641982,24317.447
3,1994,Hispanic,2nd Generation,0.262855,0.390366,0.137572,0.765124,0.608660,0.532547,0.556165,37990.156
4,1995,Hispanic,1st Generation,0.308727,0.387672,0.158321,0.603753,0.734029,0.657320,0.657924,25507.232
5,1995,Hispanic,2nd Generation,0.241685,0.419642,0.146152,0.816201,0.685009,0.537695,0.634993,37985.453

In [10]:
# Rename Columns
pre = ['lths', 'college', 'hinsured', 'employed', 'married2', 'rincp_all']
post = ["% less than High School diploma", "% with College Degree", "% with Health Insurance", "% Employed", "% Married",  
        "Median Individual Real Income"]
for i in range(0, len(pre)):   
    nonmex.rename(columns={pre[i]: post[i]}, inplace=True)

nonmex.columns

Index(['year', 'wbhao', 'igen', '% less than High School diploma', 'scol',
       '% with College Degree', '% with Health Insurance', '% Employed',
       '% Married', 'children', 'Median Individual Real Income'],
      dtype='object')

In [11]:
nonmex = nonmex[['year', 'wbhao', 'igen', '% less than High School diploma','% with College Degree', 
                 '% with Health Insurance', '% Employed', '% Married', 'Median Individual Real Income']]

In [12]:
# Will need to double check with Umut but I think this is supposed to say "Non-Mexican"
nonmex['wbhao'] = 'Non-Mexican'

In [13]:
nonmex['wbhao_igen'] = nonmex['wbhao'] + ' ' + nonmex['igen']

### Append

In [14]:
append = mex.append(nonmex)

In [15]:
append = append.sort_values(by=['year', 'wbhao', 'igen'])

In [16]:
append.head(6)

,% Employed,% Married,% less than High School diploma,% with College Degree,% with Health Insurance,Median Individual Real Income,igen,scol,wbhao,wbhao_igen,year
2,0.668500,0.736285,0.635650,0.062816,0.513281,20407.268,1st Generation,0.165253,Mexican,Mexican 1st Generation,1994
3,0.749383,0.641707,0.281591,0.093455,0.746052,32315.545,2nd Generation,0.406518,Mexican,Mexican 2nd Generation,1994
2,0.692032,0.627482,0.331588,0.146984,0.629577,24317.447,1st Generation,NaN,Non-Mexican,Non-Mexican 1st Generation,1994
3,0.608660,0.532547,0.262855,0.137572,0.765124,37990.156,2nd Generation,NaN,Non-Mexican,Non-Mexican 2nd Generation,1994
4,0.651424,0.734477,0.642687,0.046193,0.489545,22044.225,1st Generation,0.142032,Mexican,Mexican 1st Generation,1995
5,0.724760,0.635118,0.270727,0.085901,0.696145,31656.129,2nd Generation,0.369339,Mexican,Mexican 2nd Generation,1995

## Export data

Export to git repository

In [17]:
os.chdir('H:\CALDER\CALDER Data Visualizations\Git\Immigrant-Project\Graph 6')

In [18]:
append.to_csv('clean_national_mexican_outcomes.csv')

## Graph

In [19]:
app = dash.Dash()

app.css.append_css({"external_url": "https://codepen.io/chriddyp/pen/bWLwgP.css"}) 

# df = append
df = pd.read_csv('https://raw.githubusercontent.com/otteheng/Immigrant-Project/master/Graph%206/clean_national_mexican_outcomes.csv?_sm_au_=iMVn4WnLFkrJ0btq')

outcomes = ["% less than High School diploma", "% with College Degree", "% with Health Insurance", "% Employed", 
            "% Married", "Median Individual Real Income"]

# Organize where items will be on the page
app.layout = html.Div([
        html.H3(
            children='Differences in Educational Attainment between First and Second Generation Hispanic Immigrants, 1994-2016, by Mexican Origin',
            style={
                'textAlign': 'center', 'fontFamily' : 'Georgia'
            }
        ),
        html.Center([          
            html.Div([
                html.Div([html.P('Select Outcome',id='outcome-title')],
                    style={'textAlign': 'center', 'fontFamily': 'Georgia'}),
                dcc.Dropdown(
                    id='outcome-id',
                    options=[{'label': i, 'value': i} for i in outcomes],
                    value='% less than High School diploma')
                ],style={'width': '50%','textAlign': 'center', 'fontFamily': 'Georgia', 'display': 'inline-block'}),        
            ]),
        html.Div([
            html.Div([
                dcc.Graph(id='indicator-graphic1',
                          config={'modeBarButtonsToRemove': ['sendDataToCloud', 'lasso2d', 'zoomIn2d', 'zoomOut2d', 'pan2d', 
                                                             'zoom2d','resetScale2d'], 
                                'displaylogo': False})
                ], style={'width': '50%', 'display': 'inline-block'}),  
            html.Div([
                dcc.Graph(id='indicator-graphic2',
                          config={'modeBarButtonsToRemove': ['sendDataToCloud', 'lasso2d', 'zoomIn2d', 'zoomOut2d', 'pan2d', 
                                                             'zoom2d','resetScale2d'], 
                                'displaylogo': False})
                ], style={'width': '50%', 'display': 'inline-block'}),             
        ]),
    ])
@app.callback(

    dash.dependencies.Output('indicator-graphic1', 'figure'),
    [dash.dependencies.Input('outcome-id', 'value')])
def outcome_mexican(outcome_id):
    dff = df[['year', 'wbhao_igen', outcome_id]]
    dff = dff[(dff.wbhao_igen == 'Mexican 1st Generation') | (dff.wbhao_igen == 'Mexican 2nd Generation')]

    lines = {}
    data = []
    
    m_max = dff[outcome_id].max()
    m_min = dff[outcome_id].min()
    n = df[['year', 'wbhao_igen',outcome_id]]
    n = n[(n.wbhao_igen == 'Non-Mexican 1st Generation') | (n.wbhao_igen == 'Non-Mexican 2nd Generation')]
    n_max = n[outcome_id].max()
    n_min = n[outcome_id].min()
    if m_max==n_max:
        df_max = m_max
    if m_min==n_min:
        df_min = m_min
    if m_max>n_max:
        df_max = m_max
    elif m_max<n_max:
        df_max = n_max
    if m_min>n_min:
        df_min = n_min
    elif m_min<n_min:
        df_min = m_min
    if df_min<0.05:
        df_min = 0        
    y_axis = {'title': '{0}'.format(outcome_id), 
              'hoverformat': ',.2f',
              'range': [df_min, df_max]}         
        
    legends={'orientation': 'h', 'xanchor': 'center', 'x': '0.5', 'y': '-0.22'}
  
    generations = list(dff.wbhao_igen.unique())
    for gen in generations:
        if '1st' in gen:
             lines = dict(
                 color = ("#6b6ecf"),
                 width = 3)
        if '2nd' in gen:
             lines = dict(
                 color = ("#80b1d3"),
                 width = 3)
        trace = go.Scatter(
            x = dff[dff.wbhao_igen == gen]['year'],
            y = dff[dff.wbhao_igen == gen][outcome_id],
            mode='lines',
            name = gen,
            line = lines,
            opacity = 0.8
            )
        
        data.append(trace)


    return {
        'data' : data,
        'layout' : go.Layout(
            title='Mexican',
            titlefont=dict(
                        family='Georgia'),
            xaxis={'title': 'Year'},
            yaxis=y_axis,
            legend = legends
        )
    }

@app.callback(

    dash.dependencies.Output('indicator-graphic2', 'figure'),
    [dash.dependencies.Input('outcome-id', 'value')])
def outcome_nonmexican(outcome_id):
    dff = df[['year', 'wbhao_igen', outcome_id]]
    dff = dff[(dff.wbhao_igen == 'Non-Mexican 1st Generation') | (dff.wbhao_igen == 'Non-Mexican 2nd Generation')]

    lines = {}
    data = []
    
    n_max = dff[outcome_id].max()
    n_min = dff[outcome_id].min()
    m = df[['year', 'wbhao_igen', outcome_id]]
    m = m[(m.wbhao_igen == 'Mexican 1st Generation') | (m.wbhao_igen == 'Mexican 2nd Generation')]
    m_max = m[outcome_id].max()
    m_min = m[outcome_id].min()
    if m_max==n_max:
        df_max = m_max
    if m_min==n_min:
        df_min = m_min
    if n_max>m_max:
        df_max = n_max
    elif n_max<m_max:
        df_max = m_max
    if n_min>m_min:
        df_min = m_min
    elif n_min<m_min:
        df_min = n_min
    if df_min<0.05:
        df_min = 0
        
    y_axis = {'title': '{0}'.format(outcome_id), 
              'hoverformat': ',.2f',
              'range': [df_min, df_max]}         
    legends={'orientation': 'h', 'xanchor': 'center', 'x': '0.5', 'y': '-0.22'}
 
    generations = list(dff.wbhao_igen.unique())
    for gen in generations:
        if '1st' in gen:
             lines = dict(
                 color = ("#6b6ecf"),
                 width = 3)
        if '2nd' in gen:
             lines = dict(
                 color = ("#80b1d3"),
                 width = 3)
        trace = go.Scatter(
            x = dff[dff.wbhao_igen == gen]['year'],
            y = dff[dff.wbhao_igen == gen][outcome_id],
            mode='lines',
            name = gen,
            line = lines,
            opacity = 0.8
            )
        
        data.append(trace)


    return {
        'data' : data,
        'layout' : go.Layout(
            title = 'Non-Mexican',
            titlefont=dict(
                        family='Georgia'),
            xaxis={'title': 'Year'},
            yaxis=y_axis,
            legend = legends
        )
    }
    
if __name__ == '__main__':
    app.run_server()

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [18/Apr/2018 09:42:03] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2018 09:42:04] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2018 09:42:04] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2018 09:42:04] "GET /favicon.ico HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2018 09:42:04] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2018 09:42:04] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2018 09:42:06] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2018 09:42:06] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2018 09:42:08] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2018 09:42:08] "POST /_dash-update-component HTTP/1.1" 200 -